# torch and torchvision
-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre
torch==2.1.0.dev20230723
torchvision==0.16.0.dev20230723

# cuda torch and torchvision
# --extra-index-url https://download.pytorch.org/whl/nightly/cu118
# --pre
# torch==2.1.0.dev20230723+cu118
# torchvision==0.16.0.dev20230723+cu118

# transformers


# The following copied from torch-mlir
numpy

# Build requirements.
pybind11
wheel
setuptools
cmake
ninja
pyyaml

# Test Requirements
pillow
pytest
dill
multiprocess
