{{ define "main"}}
<div>
    <cover title="欢迎使用 Project_Name" subtitle="构建企业级云原生中间件的领先实践！" image_anchor="top" height="full" color="dark">
        <p class="home-overview-btn-group">
            <a class="home-overview-btn" href="/docs">
                <span class="home-overview-btn-bg"></span>
                开始 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
            </a>
            <a class="home-overview-btn home-overview-btn-with-no-margin" href="https://github.com/Project_Name">
                <span class="home-overview-btn-bg"></span>
                Github <i class="fab fa-github ml-2 "></i>
            </a>
        </p>
        <div class="home-overview-link-down">
            <link-down color="info">
        </div>
    </cover>
    <lead color="primary">
        <h2 class="home-section-title">为什么选 Project_Name?</h2>
        <p class="home-description">
            Project_Highlights_And_Features
        </p>
    </lead>
    <section color="white">
        <div class="feature">
            <div class="home-feature-item">Project_Feature_One_Desc</div>
        </div>

        <feature icon="fab" title="Project_Feature_Two">
            <div class="home-feature-item">Project_Feature_Two_Desc</div>
        </feature>

        <feature icon="fab" title="Project_Feature_Three">
            <div class="home-feature-item">Project_Feature_Three_Desc</div>
        </feature>
    </section>
</div>

{{ end }}