name: Runtime Build

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/runtime-ci.yaml"
      - "runtime/**"
      - "scripts/**"
      - "!**/**.md"
      - "!runtime/VERSION_NUMBER"
  workflow_dispatch:

# Ensure that only a single job or workflow using the same
# concurrency group will run at a time. This would cancel
# any in-progress jobs in the same github workflow and github
# ref (e.g. refs/heads/main or refs/pull/<pr_number>/merge).
concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  brt_check_cpu:
    name: BRT cpu test
    runs-on: self-hosted
    container:
      image: localhost:5000/byteir-ci
      volumes:
        - /data00/llvm_libraries:/data00/llvm_libraries
        - /data00/mhlo_libraries:/data00/mhlo_libraries
        - /data00/external_libraries:/data00/external_libraries
      options: --runtime=nvidia --gpus all
    steps:
    - name: clear workspace
      run: rm -rf $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE
    - name: Checkout byteir repo
      uses: actions/checkout@v3
    - name: Build and test BRT
      run: ./scripts/runtime/build_and_test.sh --python
      shell: bash
    - name: Build and test BRT external project
      run: ./scripts/runtime/build_external_project.sh
      shell: bash
  brt_check_cuda:
    name: BRT CUDA test
    runs-on: self-hosted
    container:
      image: localhost:5000/byteir-ci
      volumes:
        - /data00/llvm_libraries:/data00/llvm_libraries
        - /data00/mhlo_libraries:/data00/mhlo_libraries
        - /data00/external_libraries:/data00/external_libraries
      options: --runtime=nvidia --gpus all
    steps:
    - name: clear workspace
      run: rm -rf $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE
    - name: Checkout byteir repo
      uses: actions/checkout@v3
    - name: Build and test BRT with CUDA ON
      run: ./scripts/runtime/build_and_test.sh --cuda --python
      shell: bash
  brt_check_asan:
    name: BRT test with asan
    runs-on: self-hosted
    container:
      image: localhost:5000/byteir-ci
      volumes:
        - /data00/llvm_libraries:/data00/llvm_libraries
        - /data00/mhlo_libraries:/data00/mhlo_libraries
        - /data00/external_libraries:/data00/external_libraries
      options: --runtime=nvidia --gpus all
    steps:
    - name: clear workspace
      run: rm -rf $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE
    - name: Checkout byteir repo
      uses: actions/checkout@v3
    - name: Build and test BRT with asan
      run: ./scripts/runtime/build_and_test.sh --cuda --asan
      shell: bash
